body{
margin:0;
padding:0;
font-family:Arial;
text-align:center;
background:url("https://images.unsplash.com/photo-1506744038136-46273834b3fb");
background-size:cover;
background-position:center;
background-attachment:fixed;
color:white;
}

.home{
margin-top:200px;
}

.container{
width:70%;
margin:auto;
margin-top:80px;
background:rgba(0,0,0,0.6);
padding:30px;
border-radius:10px;
}

h1{
color:#00ffff;
}

input,select{
width:90%;
padding:8px;
margin:6px;
border-radius:4px;
border:none;
color:#999;
}

input:focus{
color:black;
}

button{
padding:10px 25px;
background:#00aaff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#008ecc;
}

.safe{
color:lime;
font-weight:bold;
}

.unsafe{
color:red;
font-weight:bold;
}

table{
width:95%;
margin:auto;
margin-top:20px;
border-collapse:collapse;
background:white;
color:black;
}

th{
background:#00c3ff;
color:white;
padding:8px;
}

td{
padding:8px;
}